<div class="flex flex-col space-y-6">
    <div class="box">
        <div class="card">
            <div class="imgBx">
                <img src="assets/rahat.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Rahat Kabir (D-53 | R-49)<br><span>Team Lead</span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="assets/marjan.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Marzan Islam (D-53 | R-41)<br><span>Member</span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="assets/sadia.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Montaka Sadia (D-53 | R-13)<br><span>Member</span></h2>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="assets/fahad.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Fahad Hossain (D-53 | R-11)<br><span>Member</span></h2>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="assets/anika.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Anika Tabassum (D-52 | R-55)<br><span>Member</span></h2>
            </div>
        </div>

    </div>
</div>
