
    <app-sub-heading title="Categories" image="featured"></app-sub-heading>
    <div class="grid lg:grid-cols-3 gap-4 place-items-center">
        <button (click)="onClick(category); scrollTo(products)" *ngFor="let category of categories">
            <app-category-card [catName]="category.name" [catImage]="category.image"></app-category-card>
        </button>
    </div>
    <div #products>
        <app-sub-heading [title]="selectedCatName" image="featured"></app-sub-heading>
        <div class="grid lg:grid-cols-3 gap-6 my-4">
            <div *ngFor="let product of selectedCategory">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>

    </div>
    <button class="sticky bottom-0 left-1/2 transform translate-x-1/2">
    <span class="h-16 w-16 rounded-full bg-purple-700 text-white text-xl flex items-center justify-center">
        <i class="fas fa-arrow-up"></i>
    </span>
    </button>
