<div class="bg-purple-700 p-4">
    <div class="w-full container mx-auto flex flex-col xl:flex-row space-y-4 justify-between text-white">
        <div class="text-center">
            <h3 class="text-xl font-bold underline">Important links</h3>
            <ul class="flex flex-col text-base">
                <li class="p-1 cursor-pointer" routerLink="/home"><a>Home</a></li>
                <li class="p-1 cursor-pointer" routerLink="/products"><a>Products</a></li>
                <li class="p-1 cursor-pointer" routerLink="/about"><a>About</a></li>
                <li class="p-1 cursor-pointer" routerLink="/contact"><a>Contact</a></li>
            </ul>
        </div>
        <div class="flex flex-col space-y-6 items-center">
            <h3 class="text-xl font-bold underline">Follow us</h3>
            <div class="text-center flex space-x-4">
                <div>
                    <button class="w-8 h-8 bg-white flex items-center text-2xl transform hover:scale-105 delay-150 justify-center text-purple-700  rounded-full">
                        <i class="fab fa-facebook"></i>
                    </button>
                </div>
                <div>
                    <button class="w-8 h-8 bg-white flex items-center text-2xl transform hover:scale-105 delay-150 justify-center text-purple-700  rounded-full">
                        <i class="fab fa-instagram"></i>
                    </button>
                </div>
                <div>
                    <button class="w-8 h-8 bg-white flex items-center text-2xl transform hover:scale-105 delay-150 justify-center text-purple-700  rounded-full">
                        <i class="fab fa-youtube"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center ">
            <h3 class="text-xl font-bold underline">Contact us</h3>
            <div class="flex flex-col  space-y-6">
                <div class="flex flex-col space-y-2">
                    <div class="flex items-center">
                        <i class="fas fa-map-marker-alt text-white mr-6"></i>
                        <span class="text-sm flex flex-col">
                            <span class="font-bold">Address:</span>
                            <span>
                                <span>AIMART, </span>
                                <span>Panthapath, </span>
                                <span>Dhaka</span>
                                <span>1205, </span>
                                <span>Bangladesh</span>
                            </span>
                        </span>
                    </div>
                    <div class="flex items-center">
                        <i class="fas fa-phone text-white mr-6"></i>
                        <span class="text-sm flex flex-col">
                            <span class="font-bold">Phone:</span>
                            <span>+8801754957665</span>
                        </span>
                    </div>
                    <div class="flex items-center">
                        <i class="fas fa-envelope text-white mr-6"></i>
                        <span class="text-sm flex flex-col">
                            <span class="font-bold">Email:</span>
                            <span>
                                <a href="mailto:rahatkabir20@gmail.com">rahatkabir20@gmail.com</a>
                                </span>
                        </span>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
<div class="text-center py-2 bg-gray-300 ">
    <div class="w-full container mx-auto">
        <h3>All rights reserved by ©AIMART | {{date | date: 'yyyy'}}</h3>
    </div>
</div>
