<div class="bg-gray-300">
    <nav class="flex justify-between w-full container mx-auto">
        <div class="py-4 cursor-pointer" routerLink="/home" title="AIMART">
            <img class="w-full h-full" src="assets/aimart.png">
        </div>
        <div>
            <ul class="flex space-x-6 text-base font-bold">
                <li class="p-4 cursor-pointer"  routerLink="/home" routerLinkActive="border"><a >Home</a></li>
                <li class="p-4 cursor-pointer" routerLinkActive="border"  routerLink="/products"><a >Products</a></li>
                <li class="p-4 cursor-pointer" routerLinkActive="border" routerLink="/about"><a >About</a></li>
                <li class="p-4 cursor-pointer" routerLinkActive="border" routerLink="/contact"><a >Contact</a></li>
                <li class="p-4 cursor-pointer" routerLinkActive="border" routerLink="/cart"><a ><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="py-2 bg-purple-700 text-white">
    <marquee>স্বাধীনতার মাস উপলক্ষে আমাদের প্রতিটি পণ্যে থাকছে অবিশ্বাস্য মূল্যছাড়। তাই স্বল্প মূল্যে পণ্য কিনতে AIMART এর সাথেই থাকুন। </marquee>
</div>
