<div class="wrapper border border-gray-500">
    <div class="container">
        <div class="top flex items-center">
            <img width="100%" class="p-4" loading="lazy" [src]="product?.imageUrl | image" alt="">
        </div>
        <div class="bottom">
            <div class="left">
                <div class="details">
                    <h1 class="font-bold capitalize text-base">{{product.name}}</h1>
                    <p class="flex space-x-6"><s
                            class="text-red-700">{{product.price | currency: '৳'}}</s><span>{{(+product.price - 200) | currency: '৳'}}</span>
                    </p>
                </div>
                <button (click)="onclick(product)" class="buy"><i class="fas fa-cart-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="inside">
        <div class="icon"><i class="fas fa-info"></i></div>
        <div class="contents">
            <p class="text-2xl">Thanks For Visiting Our Website.</p>
            <p class="text-2xl">Product Description is Upcoming</p>
        </div>
    </div>
</div>
